*Html,body {
    Width: 100%;
  Height: 100%;
  }
  html {
    background-color: rgb(215, 221, 223);
}
a 
  {
    position: absolute;
left: 90%;
top: 110%;
  }
  .btn {
      text-decoration: none;
      padding: 0.5rem;
      border: 1px solid #333333;
    }